/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.4;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 2% 10% 5% 10%;
}
p {
  font-size: 16px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2% 1% 0;
}

nav a {
  padding-right: 3%;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.home-banner {
  width: 100%;
  height: 100%;
  padding-top: 2.5%;
}

.top-section {
  display: flex;
  border-bottom: 1px dashed black;
  padding: 2% 0% 2% 2%;
}

.top-section p {
  width: 90%;
}

.middle-section {
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
}

.middle-section h2 {
  padding: 2% 0 0 2%;
}

.middle-section .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  width: 12.5%;
  height: 100px;
  background: black;
  margin: 10px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-section .boxes .box1 {
  background: teal;
}
.middle-section .boxes .box2 {
  background: gold;
}
.middle-section .boxes .box3 {
  background: cadetblue;
}
.middle-section .boxes .box4 {
  background: coral;
}
.middle-section .boxes .box5 {
  background: crimson;
}
.middle-section .boxes .box6 {
  background: forestgreen;
}
.middle-section .boxes .box7 {
  background: darkorchid;
}
.middle-section .boxes .box8 {
  background: hotpink;
}
.middle-section .boxes .box9 {
  background: indigo;
}
.middle-section .boxes .box10 {
  background: dodgerblue;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0% 2% 2%;
}

.bottom-section p {
  width: 70%;
  font-size: 16px;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 20px 2%;
}

footer nav a {
  color: white;
  text-decoration: none;
}

/* about */

.about-banner {
  width: 100%;
  height: 100%;
  padding-top: 2.5%;
}

.about-section {
  display: inline-block;
  border-bottom: 1px dashed black;
  padding: 2%;
}

.about-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-grid .about-box {
  width: 48%;
  padding: 3% 1% 4% 2%;
  border-bottom: 1px dashed black;
}

.about-grid img {
  width: 100%;
}

.about-grid h2 {
  padding: 2% 0 0 2%;
}

.about-grid p {
  padding: 0 0 5% 2%;
}

.about-grid a {
  margin-left: 2%;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px 22px;
  font-size: 16px;
}

.about-bottom-section {
  display: inline-block;
  padding: 5% 2% 5% 2%;
}
